/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}
body{
  margin:0;
  background: #45badd;
}
.container{
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./robot.gif");
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
button{
  cursor:pointer;
  width:200px;
  height:50px;
  background-color:#ff3482;
  color:white;
  border:none;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  box-shadow: 5px 3px 10px 10px  rgba(0,0,0,0.3);
}
button:hover{
  filter:brightness(95%);
}
button:active{
  transform: scale(0.97);
}
button:disabled{
  cursor:default;
  filter:brightness(30%);
}
@media screen and (max-width : 1000px) {
  .container{
    background-size: cover;
    background-position: center center;
  }
  button{
    box-shadow: 5px 3px 10px 15px  rgba(0,0,0,0.5);
  }
}